.header{
  border: solid 1px #f0f0f0;
  padding: 4px;
  max-width: 1200px;
  margin: 0 auto;
}

.navigation{
  display: flex;
  list-style: none;
  gap: 3rem;
}

.navigation a{
  color: white;
  text-decoration: none;
}
.navigation a:hover{
  background-color: #333;
}